
<!-- BloqueTipos -->


<div class="Cont_BloqueTipos CTfnd CB2c">
	
	<div class="Tit_BloqueTipos Txtc1">
	<h2>Otros <strong>tipos</strong> de %titCat%</h2>
	</div>	
	
	<div class="List_BloqueTipos">
	<ul>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Madrid/cursos_prevencion_de_riesgos_laborales_Madrid.html" title="Cursos presenciales en Madrid de prevención de riesgos laborales"> <strong>Masters</strong> en %titCat%</a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Barcelona/cursos_prevencion_de_riesgos_laborales_Barcelona.html" title="Cursos presenciales en Barcelona de prevención de riesgos laborales"><strong>Formación profesional</strong> en %titCat%</a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Malaga/cursos_prevencion_de_riesgos_laborales_Malaga.html" title="Cursos presenciales en Malaga de prevención de riesgos laborales"><strong>Oposiciones</strong> para tecnico en %titCat%</a></li>
		
	</ul>
	</div>
	
</div>


<!-- fin BloqueTipos -->