
<!-- BloqueGeografico -->


<div class="Cont_BloqueGeografico CTfnd CB2c">
	
	<div class="Tit_BloqueGeografico Txtc1">
	<h2>%titCat% <strong>presenciales:</strong></h2>
	</div>	
	
	<div class="List_BloqueGeografico">
	<ul>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Madrid/cursos_prevencion_de_riesgos_laborales_Madrid.html" title="Cursos presenciales en Madrid de prevención de riesgos laborales">%titCat% en <strong>Madrid</strong></a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Barcelona/cursos_prevencion_de_riesgos_laborales_Barcelona.html" title="Cursos presenciales en Barcelona de prevención de riesgos laborales">%titCat% en <strong>Barcelona</strong></a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Malaga/cursos_prevencion_de_riesgos_laborales_Malaga.html" title="Cursos presenciales en Malaga de prevención de riesgos laborales">%titCat% en <strong>Malaga</strong></a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Sevilla/cursos_prevencion_de_riesgos_laborales_Sevilla.html" title="Cursos presenciales en Sevilla de prevención de riesgos laborales">%titCat% en <strong>Sevilla</strong></a></li>
		<li><a class="Txtc2" href="/cursos/prevencion_de_riesgos_laborales/presencial_Valencia/cursos_prevencion_de_riesgos_laborales_Valencia.html" title="Cursos presenciales en Valencia de prevención de riesgos laborales">%titCat% en <strong>Valencia</strong></a></li>
		
	</ul>
	</div>
	
</div>


<!-- fin BloqueGeografico -->