<!-- layout -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

%metas%


<meta property="og:title" content="Cursos de peluquería" />
<meta property="og:image" content="http://cursodecursos.com/images/imgFacebook/3.jpg" />
<meta property="og:site_name" content="SeekFormacion.com" />
<meta property="fb:admins" content="1018154356" />


%styles%

%javascriptFiles%

<style>	.iconos { background-image: url('%urlIconos%'); }</style>

</head>
<body>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=269516055467";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//alert("codigo: " + self.document.location.hash.substring(1));


</script>


	
	
	
%SocialNavigation%



<div class="BackPage">

<div class="page">


%cabeceralogo%


<div class="nav_tipos_inf"></div>

%menuNav%

<div style="position: relative; margin-top: 40px; padding: 0px 35px 5px 18px;">
%textosCat%
</div>

<div style="position: relative; margin-top: 10px;">
%titulolistcursos%
</div>


<div style="position: relative; margin-top: 10px;">

<div style="position:relative; float:left; width: 622px; margin-left:10px;">
%listadoCursos%
</div>

<div style="position:relative; float:left; width: 248px; margin-left:10px;">

%CatsRelacionadas%

%GeoLocalizacion%

%BloqueGeografico%

%BloqueTipos%
</div>

<div style="clear:both;"></div>

</div>



<div class="pagination_bar">
	%CatPagination%
</div>



%footer%


</div>
</div>

%admin%

<script>
	var fuente= document.getElementById("EE-1").href;
	fuente= fuente + '?SSID=#F23hfusf994949';
	document.getElementById("EE-1").href=fuente;
</script>

</body>




</html>

<!-- fin layout -->