<!-- bloquenav -->



<div class="nav_tipos_content CTfnd" style="background: url('%imgcat%') no-repeat scroll 548px 0px;"></div>


<div class="nav_area">	

<!-- menu -->		
		<div class="bloque_nav %over%" id="%id%" onmouseover="javascript:slide(%id%);" onclick="javascript:gotoURL('%URLcategoria%');">
		
		<div class="bloque_nav_interior">
		<div class="titSITE"><a href="%URLsite%" class="enlaceTitnav" title="%site%">%site%</a></div>
		
		<div class="carpSuperNav cpS_%over%" id="%id%b"><div class="arrowD iconos"></div></div>
		<div class="Navdentro Nv_%over%" id="%id%a">
		<div class="Titular_nav Txtc2"><a href="%URLcategoria%" class="enlaceTitnav2" title="%categoria%">%categoria%</a></div>
		<div class="Texto_nav Txtc2">%detalle%</div>	
		</div>
		<div class="carpInfeNaV cpI_%over%" id="%id%c"><div class="arrowU iconos"></div><div class="Nav_masinfo iconos"></div></div>
		
		</div></div>
<!-- fin menu -->	
	
			
	
</div>	

<!-- fin bloquenav -->