<!-- textosCat -->


<div  class="Txtc2" style="font-size:12px;min-height:107px;">


<div class="imgTextCat" id="imgTextCat"><img src="/images/text_cat/cat_%idcat%_1.jpg"></div>

<h1 class="TituloTexto Txtc1">%titCat%</h1>

<div id="TXT_cat" class="TXT_cat">
%Texto%
</div>

</div>
<div style="clear:both;"></div>

<!-- fin textosCat --> 
 
 
 
<!-- textosCat_admin -->

<div class="boton_editar bot_edit_textcat" id="bot_edit_textcat" onclick="javascript:bot_edit_textcat();">Editar</div>
<div class="boton_editar bot_guardar_textcat" id="bot_guardar_textcat" onclick="javascript:bot_guardar_textcat(%idcat%);">Guardar</div>
<div class="edit_textcat" id="edit_textcat">
	<textarea id="Text_Cat_area" class="Text_Cat_area">%Texto%</textarea>
</div>


 <!-- fin textosCat_admin --> 