<!-- metas -->


Categoria: %idcatedit%
<div style="border:1px #000000 solid; position:fixed; top: 50px; left:0px; background-color:#999999; width: 175px; height: 130px;">


<div style="color:#FFFFFF;
  font-family:Arial;
  font-size:10px;
  font-weight:bold;
  margin-bottom:-5px;
  margin-left:9px;
  margin-right:5px;
  margin-top:3px;
  text-align:left;">
Descripcion
</div>


<textarea id="descripcion" style="
  height:80px;width:156px;
  margin:5px;
  background-color:#ffffff;
  font-family:Arial;
  font-size:10px;
  font-weight:normal;
  line-height:11px;
  margin-top:8px; color: #333333 " name="content"/>%descripcion%</textarea>




<div onclick="javascript:SaveField('descripcion',%idcat%);" style="color:#FFFFFF;
  font-family:Arial;
  font-size:10px;
  margin-left:115px;
  margin-top:-6px;
  width:52px;
  border:1px #ffffff solid;
  background-color:blue;
  font-weight:bold; cursor:pointer;
  ">Guardar</div>
  
  </div>

<!-- fin metas -->