<!-- layout -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	
<style>
.iconos{background-image: url('%urlICONOS%');}
.FranjaFoto{background: url('%idcatcur%') no-repeat scroll 548px 0 transparent;}
.provi{background-image: url('%urlMAPA%');}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--

%metas%


<meta property="og:title" content="Cursos de peluquería" />
<meta property="og:image" content="http://cursodecursos.com/images/imgFacebook/3.jpg" />
<meta property="og:site_name" content="SeekFormacion.com" />
<meta property="fb:admins" content="1018154356" />






-->


%javascriptFiles%

%styles%

<style>.iconos{background-image: url('%urlIconos%');}</style>

</head>
<body>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=269516055467";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//alert("codigo: " + self.document.location.hash.substring(1));


</script>



	
	
%SocialNavigation%


<div class="BackPage">

<div class="page">






%cabeceralogo%


<div class="ctnFichaSup">



<div class="bloqIZQ" style="">

<div class="cabDes">
<h1 class="Txtc1">%nombre%</h1>
<h2 class="Txtc2">
%cur_descripcion%	
</h2>

</div>

<div style="height:120px;">


<div class="cajaDat CTfnd CB2c b1">
<ul class="InfCurLI Txtc2">
	<li>Tipo: Curso</li>
	<li>Modalidad: Presencial</li>
	<li>Precio: %cur_precio%</li>
	<li>Duración: %cur_duracion%</li>
</ul>
</div>

<div class="cajaCent CTfnd CB2c b1">
<h3 class="Txtc2">
<strong>%nom_centro%</strong>	
</h3>

<h3 class="Txtc2">
%cur_titoficial% 	
</h3>

</div>


<div class="borra"></div>

</div>


<div class="cajaOtrosDat CTfnd CB2c b1">
<h3 class="Txtc2">
%cur_practicas%	
</h3>
<h3 class="Txtc2">
%cur_otrosdatos% 	
</h3>
</div>


<div class="borra"></div>

<div class="facilidades">
<div class="t1 Txtc2">*</div>
<div class="t2 Txtc2">
%cur_facilidad%
</div>
</div>

</div>



<div class="bloqDER">

<div class="cajaLogo">
	<img src="/logos/large/%file_logo%">
	<div class="txt">Zonas donde se imparte este curso de peluquería</div>
	<div class="iconos arrowdown"></div>
</div>



<div class="CTfnd CB2c b1 mapa">
		<div class="provi margen"></div>
		
		<div class="provi P150"></div>
		<div class="provi P360"></div>
		<div class="provi P270"></div>
		<div class="provi P320"></div>
		
		<div class="provi P080"></div>
		<div class="provi P060"></div>
		<div class="provi P280"></div>
		<div class="provi P353"></div>
</div>



<img style="border:0px; cursor:pointer;" src="/images/botones/solinfoficha.gif" onclick="javascript:form_up();">

</div>

<div class="borra"></div>

</div>




<div class="claves">
Claves para saber si el curso de peluqueria profesional se adapta a mí
</div>

<div class="franjaCarpSup">
	<div class="cabCarpFicha Txtc1">
	<div class="requi"><div class="iconos cL"></div><div class="tit">Requisitos del curso</div><div class="iconos cD"></div></div>
	</div>
	
	<div class="cabCarpFicha Txtc1">
	<div class="aquien"><div class="iconos cL"></div><div class="tit">A quién va dirigido</div><div class="iconos cD"></div></div>
	</div>		
	
	<div class="cabCarpFicha Txtc1">
	<div class="paraq"><div class="iconos cL"></div><div class="tit">Para qué te prepara</div><div class="iconos cD"></div></div>
	</div>
<div class="borra"></div>
</div>





<div class="FranjaFoto CTfnd">
<div class="cntCarpFicha">
	<div class="tit Txtc1">Nivel de estudios:</div>
	<div class="val Txtc2">Nigún nivel de estudios requerido</div>
	<div class="tit Txtc1">Edad:</div>
	<div class="val Txtc2">Curso dirigido a personas de entre 18 y 40 años</div>
	<div class="tit Txtc1">Situación laboral:</div>
	<div class="val Txtc2">Curso dirigido a personas en el paro</div>
</div>	


<div class="cntCarpFicha Txtc2">
Profesionales que trabajen en centros y servicios de atención a personas mayores que se dediquen a elaborar y/o supervisar la alimentación que reciben los ancianos, y que deseen recibir una formación específica en dietética y nutrición aplicada a la tercera edad con el fin de perfeccionar su dedicación profesional, al tiempo de garantizar el buen estado nutricional de los ancianos.	
</div>	

<div class="cntCarpFicha Txtc2">
Con el título de Auxiliar de Enfermería de ISED te preparamos para la obtención del Título Oficial de Ciclo Formativo de Grado Medio en Cuidados Auxiliares de Enfermería a través de las pruebas libres. Además con la obtención del título oficial podrás pre	
</div>
	
<div style="clear:both;"></div>
</div>


<div class="pieCarpFicha">
<div class="fond"></div>	
<div class="fond"></div>	
<div class="fond"></div>	
<div style="clear:both;"></div>
</div>



%footer%

</div>
</div>


%formulario%

%admin%



</body>


 


</html>

<!-- fin layout -->


