
<!-- ContListCompare_Vacio -->


<div class="Cont_IntTAB">
	 <!-- <img src="/images/mensajes/seleccione2cursos.gif" alt="Seleccione un minimo de dos de %articuloListado% %tituloListado%"> -->  
<div class="TABvacio">
	<div class="iconos TABarrowD"></div>
	<div class="TABtxt Txtc2">Debes de seleccionar un mínimo de dos <strong>%cat%</strong> o de cualquier otra categoría para poder realizar la comparación</div>
	<div class="borra"></div>
	<div class="iconos botComp"></div>
</div>


</div>


<!-- fin ContListCompare_Vacio -->	



<!-- ContListCompare_Datos -->

<div class="Cont_IntTAB">
<!-- cadaCurso -->	
<div class="Cont_intTAB_lineacurso">
<div class="Logo"><img src="/logos/mini/3456.gif"></div>
<div class="titulo">%titulo%</div>
<div class="borrar"><img src="/images/iconos/eliminar.png" onClick="javascript:quitCompare('%codcurso%');"></div>
</div>
<div style="clear:both;"></div>
<!-- fin cadaCurso -->
</div>	
<!-- fin ContListCompare_Datos -->	