
<!-- formulario -->

<div class="gris_fondo" id="form_fondo" onclick="javascript:form_up();"></div>
<div class="gris_up" id="form_up">

<div class="form f-esi"></div>	
<div class="f-esibssup"><div class="form f-close" onclick="javascript:form_up();"></div></div>
<div class="form f-esd"></div>
<div class="borra"></div>

<div class="f-cont"></div>


<div class="form f-eii"></div>	
<div class="f-eiibssup"></div>
<div class="form f-eid"></div>
<div class="borra"></div>

</div>

<!-- fin formulario -->

