
<!-- SocialNavigation -->



<style>
	

	.ContTAB	{background: url('%urlFondoTab%') repeat;}
</style>



<div class="ContenedorNav">
	
		
	<div id="tab1tot" class="CadaTabTOT">
	<div id="tab1" class="CadaTAB" style="top:0px;" onmouseover="javascript:navi_menu_in('tab1');" onmouseout="javascript:navi_menu_out('tab1');">
		<div class="CabTab CB3fnd" ></div>
		<div class="ContTAB">
			<div class="IntTAB" style="height:220px;" id="ListCompare">
			
			
				%ContListCompare%
				
				
			</div>
		</div>
		<div class="iconos pieContTab"></div>
	</div>
	<div class="TABsombra iconos" style="top:0px;" onmouseover="javascript:navi_menu_in('tab1');" onmouseout="javascript:navi_menu_out('tab1');"></div>
	</div>		
		
		
	
	

	<div id="tab2tot" class="CadaTabTOT">
	<div id="tab2" class="CadaTAB" style="top:45px;" onmouseover="javascript:navi_menu_in('tab2');" onmouseout="javascript:navi_menu_out('tab2');">
	<div class="CabTab CB3fnd"></div>
		<div class="ContTAB">
		<div class="IntTAB" style="height:140px;" >
			
			
			<div class="FaceTabL">
			<div  class="fb-like" data-send="true" data-layout="box_count" data-width="120" data-show-faces="false" data-action="recommend" data-font="arial"></div>
			</div>
			
			<div class="FaceTabR">
			<img src="/images/img_Facebook/ventajasFacebook.gif" style="cursor:pointer;">
			</div>	
			
			
				
			</div>
		</div>
		<div class="iconos pieContTab"></div>
		</div>
		<div class="TABsombra iconos" style="top:45px;" onmouseover="javascript:navi_menu_in('tab2');" onmouseout="javascript:navi_menu_out('tab2');">
		<img src="/images/iconos/face_tab.png" style="margin-top:7px;">
		</div>
		</div>	




	
	
	
	<div id="tab3tot" class="CadaTabTOT">
	<div id="tab3" class="CadaTAB" style="top:90px;" onmouseover="javascript:navi_menu_in('tab3');" onmouseout="javascript:navi_menu_out('tab3');">
	<div class="CabTab CB3fnd"></div>
		<div class="ContTAB">
		<div class="IntTAB" style="height:120px;">
			
				
			</div>
		</div>
		<div class="iconos pieContTab"></div>
		</div>
		<div class="TABsombra iconos" style="top:90px;" onmouseover="javascript:navi_menu_in('tab3');" onmouseout="javascript:navi_menu_out('tab3');"></div>
		</div>	
	
	
</div>


<!-- fin SocialNavigation -->